<template>
    <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Categoey</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" @submit.prevent ="updateCategory()">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name Category</label>
                    <input type="text" name="cate_name" v-model="form.cate_name" 
                    class="form-control" id="exampleInputEmail1" placeholder="Enter name category"
                    :class="{ 'is-invalid': form.errors.has('cate_name') }" >
                    <has-error :form="form" field="cate_name"></has-error>
                    
                  </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </div>
              </form>
            </div>

    </div>
</template>
<script>
export default {
    name:'Edit',
    mounted(){
        axios.get(`/editcategory/${this.$route.params.id}`).then((res)=>{
            this.form.fill(res.data);
        });
    },
    data(){
        return{
                form: new Form({
                cate_name: '',
             })
        }
    },
    methods: {
      updateCategory(){
        this.form.post(`/updateCategory/${this.$route.params.id}`).then((response ) => { 
            this.$router.push('/category-list');
            toast.fire({
                icon: 'success',
                title: 'Update Category in successfully'
            });
         })
        .catch(()=>{
          console.log('cannot');
        });
       
      }
    }
}
</script>