<template>
    <section>
        <div class="card justify-content-around">
            <div class="card-header">
              <h3 class="card-title">Category List</h3>
                <div class="card-tools">
                    <button class="btn btn-primary"><router-link style="color:#fff" to="/add-category">Add Category</router-link></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Number</th>
                  <th>Category Name</th>
                  <th>Date</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(cate, index) in getallCategory" :key="cate.id">
                  <td>{{index}}</td>
                  <td>{{cate.cate_name}}</td>
                  <td>{{cate.created_at | timeformat}}</td>
                  <td>
                      <router-link :to="`/edit-category/${cate.id}`" >Edit</router-link>
                      <a href="" @click.prevent = "deleteCate(cate.id)">Delete</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>


    </section>
</template>
<script>
export default {
    name: "List",
    mounted(){
      //get list category from index store use vuex
      this.$store.dispatch('allCategory');
    },
    computed: {
      // get value with vuex 
      getallCategory(){
        return this.$store.getters.getCategory
        
      }
    },
    methods: {
      deleteCate(id){
         axios.get('/deleteCategory/' + id ).then((res)=>{
           //gọi state để cập nhật lại dữ liệu thông qua vuex
           this.$store.dispatch('allCategory');
           toast.fire({
                icon: 'success',
                title: 'Delete Category in successfully'
            });
         });
      }
    }
    
}
</script>
<style scoped>
</style>