<template>
    <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Post</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" @submit.prevent ="EditnewPost()" enctype="multipart/form-data">
                <div class="card-body">
                  <div class="form-group">
                    <label for="title_id">Title Post</label>
                    <input type="text" name="title" v-model="form.title" 
                    class="form-control" id="title_id" placeholder="Add new post"
                    :class="{ 'is-invalid': form.errors.has('title') }" >
                    <has-error :form="form" field="title"></has-error>
                  </div>
                  <!-- end title post -->
                  <div class="form-group">
                    <label for="post_id">Description Post</label>
                    <markdown-editor v-model="form.description" name="description" 
                    id="post_id" placeholder="Add new description"
                    :class="{ 'is-invalid': form.errors.has('description') }"
                    ></markdown-editor>
                    <has-error :form="form" field="description"></has-error>
                  </div>
                  <!-- end description -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Select Category</label>
                        <select v-model="form.cate_id" class="custom-select" :class="{ 'is-invalid': form.errors.has('cate_id') }">
                          <option disabled>Select One</option>
                          <option  v-for="cate in getallcategory" :key="cate.id" :value="cate.id">{{cate.cate_name}}</option>
                        </select>
                    <has-error :form="form" field="cate_id"></has-error>
                  </div>
                  <!-- end category -->

              <div class="form-group">
                    <input @change = "changePhotos" type="file" name="photos"  :class="{ 'is-invalid': form.errors.has('photos') }">
                    <img :src="updateImage()" alt="" width="80" height="80">
                    <has-error :form="form" field="photos"></has-error>
                  </div>

                  
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </div>
              </form>
            </div>

    </div>
</template>
<script>
export default {
    name: 'Edit',
     data(){
        return{
            form: new Form({
                title: '',
                description: '',
                cate_id: '',
                photos:'',
            })
        }
    },
    mounted(){
        this.$store.dispatch('allCategory');
    },
    created(){
        axios.get(`/editpost/${this.$route.params.id}`).then((res)=>{
            this.form.fill(res.data);
        })
        .catch(()=>{});
    },
    methods:{
       changePhotos(event){
            let file = event.target.files[0];
            if(file.size > 10485760)
            {
                swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Hình ảnh quá kích thước!',
                footer: '<a href>Why do I have this issue?</a>'
                })
            }
            else {
                let reader = new FileReader();
                reader.onload = (event) => {
                  this.form.photos = event.target.result.replace(/\n/g,'<br />')
                };
                reader.readAsDataURL(file);
            } 
        },
        updateImage(){
            let img = this.form.photos;
            if(img.length>100){
                return this.form.photos;
            }else{
                return `/uploadImage/${this.form.photos}`;
            }
        },
        EditnewPost(){
            this.form.post(`/UpdatePost/${this.$route.params.id}`).then((res)=>{
                this.$router.push('/post-list');
                 toast.fire({
                    icon: 'success',
                    title: 'Edit post in successfully'
                });
            }).catch(()=>{});
        }
    },
    computed:{
        getallcategory(){
            return this.$store.getters.getCategory;
        }
        
    }
    
}
</script>