<template>
    <section>
        <div class="card justify-content-around">
            <div class="card-header">
              <h3 class="card-title">Post List</h3>
                <div class="card-tools">
                    <button class="btn btn-primary"><router-link style="color:#fff" to="/add-post">Add Post</router-link></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Number</th>
                  <th>User</th>
                  <th>Category</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Photo</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(post,index) in getAllPost" :key="post.id">
                    <td>{{index+1}}</td>
                    <td>{{post.user.name}}</td>
                    <td>{{post.category.cate_name}}</td>
                    <td>{{post.title|sortlength(20, "....")}}</td>
                    <td>{{post.description | sortlength(40,"....")}}</td>
                    <td><img :src="ourImage(post.photos)" style="width: 40px; height: 50px"></td>
                    <td>
                        <router-link :to="`/edit-post/${post.id}`" href="" >Edit</router-link>
                        <a href="" @click.prevent="deletePost(post.id)">Delete</a>
                    </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>


    </section>
</template>
<script>
export default {
    name:'List',
    mounted(){
        this.$store.dispatch('AllPost');
    },
    computed: {
        getAllPost(){
            return this.$store.getters.getPost;
        }
    },
    methods:{
        ourImage(img){
            return "uploadImage/"+img;
        },
        deletePost(id){
            axios.get('/deletePost/'+id).then((res)=>{
                console.log(res.data);
                this.$store.dispatch('AllPost');
                toast.fire({
                    icon: 'success',
                    title: 'Delete post in successfully'
                });
            }).catch(()=>{

            })
        }
    }
}
</script>